body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    th,td {
    text-align: center;
    color: black;
    }
    th{
        text-align: left;
        background-color: tan;
    }
    td{
      text-align: center;  
    }
    td:hover{
        background-color: #75bbe1;
    }
    
    table{
        background-color: beige;
        border-collapse: collapse;
        font-size: 18px;
        width: 55%;
        border-radius: 10px;
        padding-top: 30px;
        font-family: cursive;
    } 
    img{
        height: 200px;
    }
    a{
        text-decoration: none;
        color: black;
    }

    button {
        margin-top: 15px;
        width: 20%;
        height: 45%;
        display: flex;
        justify-content: center;
        background-color: #75bbe1;
        border: 2px solid #75bbe1;
        border-radius: 8px;
        color: black;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease;
        margin-left: auto;
        margin-right: auto;
      }
      
      button:hover {
        background-color: #f2796e;
        border: 2px solid #f2796e;
      }

    