body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    img{
    height: 200px;
    }
    a{
    text-decoration: none;
    color: white;
    }
    p{
    color: red;
    }
    
    
    table{
    width: 80%;
    background-color: beige;
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 30px;
    font-family: cursive;
    } 
    
    
    
    th{
    text-align: center;
    background-color: tan;
    }
    td{
    text-align: center;  
    }
    tr:hover{
    background-color: #b2d1e3;
    }
    
    
    button {
    margin-top: 15px;
    width: 15%;
    height: 45%;
    display: flex;
    justify-content: center;
    background-color: #75bbe1;
    border: 2px solid #75bbe1;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    margin-left: auto;
    margin-right: auto;
    }
    
    button:hover {
    background-color: #f2796e;
    border: 2px solid #f2796e;
    }
    
    a.btn{
        margin-top: 15px;
        width: 25%;
        height: 45%;
        display: flex;
        justify-content: center;
        background-color: #75bbe1;
        border: 2px solid #75bbe1;
        border-radius: 8px;
        color: black;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease;
        margin-left: auto;
        margin-right: auto;
        
    }
    a.btn:hover{
        background-color: #f2796e;
        border: 2px solid #f2796e;
    
    }
    
    span{
    background-color: bisque;
    border: 1px solid bisque;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 40%;
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 4px 4px 2px;
    font-family: cursive;
    }   
    
    
    form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    padding: 50px;
    }
    
    form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color:white;
    }
    
    form div {
    position: relative;
    margin-bottom: 15px;
    }
    
    
    form div i {
    position: absolute;
    padding: 12px 1px 3px 10px;
    }
    
    input:focus {
    border: 2px solid #f2796e;
    }
    
    