body {
background-image: url("../images/bg.jpg");
background-repeat: no-repeat;
background-size: cover;
}
a{
text-decoration: none;
color:#75bbe1 ;
}
a:hover{
color:#f2796e;
}
p{
color: red;
}

table, th, td {
border: 1px solid white;
border-collapse: collapse;
text-align: center;
font-size: 18px;
}
th,td {
background-color: #3ba56b;
}
select#gender{
border: 2px solid black;
margin: 5px;
width: 52%;
text-align: center;
height: 30px;
}
select#gender:hover{
background-color: black;
color: white;
}
span{
background-color: bisque;
border: 1px solid bisque;
border-radius: 5px;
display: block;
text-align: center;
width: 40%;
font-size: 18px;
font-weight: 700;
margin-left: auto;
margin-right: auto;
padding: 2px 4px 4px 2px;
font-family: cursive;
}
form {
display: flex;
flex-direction: column;
justify-content: center;
width: 45%;
padding: 50px;
}

form div input {
width: 100%;
height: 40px;
border-radius: 8px;
outline: none;
border: 2px solid #c4c4c4;
padding: 0 30px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}




label {
display: block;
margin-bottom: 5px;
text-align: left;
color: white;
}

form div {
position: relative;
margin-bottom: 15px;
}

form div i {
position: absolute;
padding: 12px 1px 3px 10px;
}
.success-icon,
.failure-icon {
position: absolute;
padding: 12px 1px 3px 10px;
right: 0;
opacity: 0;
}

.failure-icon,
.error {
color: red;
}

.success-icon {
color: green;
}

.error {
font-size: 14.5px;
margin-top: 5px;
}

input:focus {
border: 2px solid #f2796e;
}
input.uploadFile{
color: bisque;
}

button {
margin-top: 15px;
width: 30%;
height: 45%;
display: flex;
justify-content: center;
background-color: #75bbe1;
border: 2px solid #75bbe1;
border-radius: 8px;
color: #fff;
font-size: 20px;
cursor: pointer;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
transition: all 0.1s ease;
margin-left: auto;
margin-right: auto;
}

button:hover {
opacity: 0.8;
background-color: #f2796e;
border: 2px solid #f2796e;
}


